@font-face {
  font-family: "Product Sans";
  src: url(/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: "Product Sans Bold";
  src: url(../fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
  font-family: "Halloween Morning";
  src: url(../fonts/Halloween\ Morning.ttf);
}
